.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.horizontalMargin {
  background: #ddd;
}

.verticalMargin {
  height: 50px;
  background: #ddd;
}
