.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

.horizontalMargin {
  background: #ddd;
}

.verticalMargin {
  height: 50px;
  background: #ddd;
}

.leftColumn {
  border-right: 1px solid lightgray;
  height: 500px;
}

.rightColumn {
  height: 500px;
}